@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Figtree", arial, sans-serif;
    background-color: hsl(47, 88%, 63%);
}

main {
    height: auto;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 9px 8px 0px rgb(0, 0, 0);
    
    max-width: 375px;
}

img {
    display: block;
    margin: auto;
    border-radius: 10px;
}

h4 {
    background-color: hsl(47, 88%, 63%);
    display: inline-block;
    margin: 18px 0 10px 0;
    padding: 5px;
    border-radius: 5px;
}

p.ddp {
    font-weight: normal;
    font-size: 0.9em;
}

h2 {
    font-family: sans-serif;
    margin: 20px 0 20px 0;
}

article > p {
    font-weight: lighter;
    font-size: 1.0em;
}

footer > img {
    height: 35px;
    margin-right: 15px;
}

footer {
    display: inline-flex;
    align-items: center;
    font-weight: bolder;
    margin: 20px 0 0 0;
}